{:paths ["src"]
 :deps  {org.clojure/clojure             {:mvn/version "1.7.0"}
         org.clojure/data.priority-map   {:mvn/version "0.0.7"}
         tailrecursion/cljs-priority-map {:mvn/version "1.2.1"}}}
